.iframe {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.exercise {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #eeeeee;
  border-radius: 20px;
  align-items: center;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.exercise::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.questions-header {
  font-size: 45px;
  font-weight: bold;
  margin: 0;
}
.question {
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.question-title {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
}

.choice-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label.Mui-disabled {
  color: #000000 !important;
}
.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-disabled {
  color: #000000 !important;
}
.section-desc::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
