.subtitle-header-take {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.subtitle-section-text {
  width: 90%;
  align-self: center;
  margin-left: 35px;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #0f0f0f;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  font-weight: 600;
  gap: 10px;
}

.chosen:hover {
  background-color: rgb(150, 255, 168);
}
.chosen {
  background-color: rgb(150, 206, 168);
}
