.card {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
}
.attribute {
  font-size: large;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.scratched {
  text-decoration: line-through;
}
.red {
  color: red;
}
.reviewCard {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  padding: 2rem;
}
.topRight {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}
.bottomRight {
  right: 0;
  margin: 1rem;
}
.marginedTop {
  margin-top: 1rem;
}
.preview_video {
  width: 40vw;
  height: 50vh;
}
