.course-item {
  cursor: pointer;
  height: 100%;
}
.course-card {
  height: 100%;
  padding: 5px;
  transition: all 0.4s ease-in-out;
}
.course-card:hover {
  background-color: #f5f5f5;
  box-shadow: rgb(150 205 168 / 100%) 0px 10px 25px;
  transform: translate3D(0, -1px, 0) scale(1.07);
}
.course-card-subject {
  border: 1px solid #484848;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  padding: 5px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  border-radius: 10px;
  background-color: rgb(150, 206, 168);
  height: fit-content;
}
.course-description-fade {
  max-height: 80px;
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}
