.take-course-wrapper {
  display: flex;
  height: 70%;
  flex-direction: row;
  flex-grow: 2;
}

.content-notes-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}
.subtitles {
  min-width: 30vw;
}
.content {
  flex-grow: 1;
}
